<div class="container pt-5">
    <h3 style="color:darkcyan ;">List of pages: </h3>
    <table class="table table-bordered table-hover mt-5 pt-5">
      <thead>
        <tr style="background-color: rgba(138, 138, 187, 0.608);">
          <th scope="col">SL</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of tableList ">

          <td>{{list.sl}}</td>
          <td>{{list.name}}</td>
          <td>
            <button class="btn btn-success" [routerLink]="['page-list/', list.sl, 'list-page1']">Link{{list.sl}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  