<div class="container pt-5">
    <h3>List of pages: </h3>
    <table class="table table-bordered table-hover mt-5 pt-5">
      <thead>
        <tr style="background-color: rgba(138, 138, 187, 0.608);">
          <th scope="col">SL</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Test1</td>
          <td><button class="btn btn-success" routerLink="/page-list" routerLinkActive="active">Link1</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Test2</td>
          <td><button class="btn btn-success" routerLink="/page-list" routerLinkActive="active">Link2</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  