
<h2 class="mt-5 mx-4 text-secondary">Page Details: </h2>

<div class="container mt-5 pt-5 pb-5 border border-5" style="display: flex" >  
 
    <div style="display: block;">
        <button type="button"  class="btn btn-primary" routerLink="list-page1" routerLinkActive="active">List-Page 1</button>&nbsp;<br>
        <button type="button" class="btn btn-secondary" routerLink="list-page2" routerLinkActive="active">List-Page 2</button>&nbsp;<br>
        <button type="button" class="btn btn-success" routerLink="list-page3" routerLinkActive="active">List-Page 3</button><br>
   </div>
    
    <div>
      <router-outlet></router-outlet>
    </div>
 </div>


