
 <div class="container border pt-5 pb-5 mt-5" style="background-color:rgba(5, 142, 211, 0.091);">
  <h2 style="text-align: center; color: brown;">Name: {{pageName}}</h2>
    <div class="maincontainer-fluid d-flex justify-content-between p-5">
        <div class="d-flex flex-column btncontainer-fluid">
            <button class="btn btn-primary" routerLink="list-page1">Page Details 1</button>
            <button class="btn btn-primary" routerLink="list-page2">Page Details 2</button>
            <button class="btn btn-primary" routerLink="list-page3">Page Details 3</button>
            <button class="btn btn-success" (click)="pageBack()">Back Home</button>

        </div>
        <router-outlet></router-outlet>
    </div>
</div>
